<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="continous testing" parallel="tests">

	<test name="chromeTests">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="tests.DriverFactory"/>
			<class name="tests.GoogleTest" />
		</classes>
	</test>
	
<!-- 	<test name="firefoxTests">
		<parameter name="browserName" value="firefox" />
		<classes>
			<class name="tests.DriverFactory"/>
			<class name="tests.GoogleTest" />
		</classes>
	</test>
	 -->
</suite>